/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0097b2; /* Bakgrundsfärgen från bilden */
    background-image: url(#fbf8f3); /* Bakgrundsbild */
    background-size: 120%; /* Skala bilden för att täcka hela bakgrunden */
    background-position: center; /* Centrera bakgrundsbilden */
    color: black; /* Textfärg */
}

/* Header styles */
header {
    background-color: orange;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navigation styles */
nav {
    background-color: black;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555555;
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Main content */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    position: relative; /* Lägg till position relative för att rätt placera den absoluta bilden */
}

/* Section styles */
section {
    margin-bottom: 30px;
}

section h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

/* Article styles */
article {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

ul li {
    margin-bottom: 15px;
}

/* Footer styles */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #293335f3;
    color: white;
    text-align: center;
    padding: 1px;
}

/* Stilar för bilden i mitten */
.center-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Justera bredden enligt önskemål */
    border-radius: 5px;
}

/* Stilar för GitHub och Instagram ikoner */
.footer-icon {
    font-size: 24px; /* Justera storleken efter behov */
    color: white; /* Färgen på ikonen */
}