<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOps Sportcenter</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        #message {
            max-width: 600px; /* Text width */
            margin: 100px auto 50px; /* Placement farther down and in */
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Shadow effect */
            text-align: center; /* Text placement center */
        }
    </style>
</head>

<body>
    <!-- Picture middle of screen -->
<img class="center-image" src="/static/sportcenter.png" alt="Sportcenter">

    <!-- Header -->
    <header>
        <h1>Devops Sportcenter</h1>
    </header>

    <!-- Navigation -->
    <nav>
        <a href="/">Start</a>
        <a href="/activities.html">Våra aktiviteter</a>
        <a href="/contact.html">Kontakt</a>
    </nav>

    <!-- Main content -->
    <div class="container">
        <div id="message">
            <span style="color: white; font-weight: bold;">{{ message }}</span>
            <h2 style="color: white;">Aktiviteter</h2>
            <select name="activities" id="activities">
                {% for activity in activities %}
                <option value="{{ activity }}">{{ activity }} 200kr</option>
                {% endfor %}
            </select>
        </div>
    </div>
    
    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Devops Sportcenter. Alla rättigheter förbehållna.</p>
    </footer>

</body>

</html>
